@media screen and (max-width:700px)
{
body{
	margin:0 auto;
	width:100%;
	background: url(background.jpg) repeat-x fixed;
}


.logo{
	display:none;
	
}

.banner{
	display:none;
	
}


.menu{
	box-sizing:border-box;
	position:relative;
	float:right;
	width:100%;
	height:87px;
	margin:3px;
	text-align:center;
	background-color:red;
	border-radius:5px;
}
a{
	text-decoration:none;
	color: black;
}
.menu ul li{
	display:inline-block;
	margin:2px;
	font-weight:bold;
	padding:1%;
	background-color:white;
	border: 2px solid orange;
	border-radius:5px;
	box-shadow:2px 2px 3px, inset 10px 12px 22px orange ;
	
}

.menu li:hover{
	box-shadow:0.5px 1px 3px, inset 10px 12px 22px orange ;
	
}

.menu li:active, .menu #activated{
	border: 2px solid white;
	box-shadow:2px 2px 11px yellow, inset 5px 6px 22px orange ;
}



.left{
	display:none;
	
}




.left_banner{
	display:none;
}
.left_banner2{
	display:none;
}



.main{
	box-sizing:border-box;
	position:relative;
	float:right;
	width:98%;
	margin:3px;
	background-color:orange;
	border-radius:5px 5px 5px 5px;
}

table{
	box-sizing:border-box;
	margin:10px;
	float:right;
	width: 97%;
	background-color:lightblue;
	border:2px solid red;
	border-radius:5px;
	box-shadow:2px 2px 3px;
	
}

table, td {
	border-spacing:7px;
}

.main table:hover{
	box-shadow:0.5px 1px 3px ;
	
}

.main table:active{
	border: 2px solid white;
	box-shadow:2px 2px 11px yellow, inset 5px 6px 212px orange ;
}


.main img{
	position:relative;
	top:2px;
	border:2px solid red;
	border-radius:5px 5px 5px 5px;
	
}

.text{
	
	background-color:#f5f1d5;
	border:2px solid red;
	border-radius:5px 5px 5px 5px;
	height:250px;
}
#agwera{display:none;}
.text h3{
	position:relative;
	left:12px;
	margin:1px;
	margin-top:4px;
}
.text hr{
	color:red;
	border:1px dashed;
}
.text p{
	position:relative;
	left:12px;
}
.footer{
	box-sizing:border-box;
	position:relative;
	clear:both;
	width:98%;
	height:120px;
	margin:3px;
	margin-left:6px;
	background-color:orange;
	border-radius:5px 5px 40px 40px;
}

#foot_banner{
	display:none;

}
.footer h2{
	float:right;
	position:relative;
	right:20px;
	color:white;	
}

.main video{
	box-sizing:border-box;
	margin:10px;
	width: 97%;
	border:2px solid red;
	border-radius:5px;
	box-shadow:2px 2px 3px;
}
}